
.col-txt-0 {
  color: var(--col-txt-0);
}
.col-txt-1 {
  color: var(--col-txt-1);
}
.col-txt-2 {
  color: var(--col-txt-2);
}
.col-txt-3 {
  color: var(--col-txt-3);
}
.col-txt-4 {
  color: var(--col-txt-4);
}

.col-txt-5 {
  color: var(--col-txt-5);
}

.col-txt-pri {
  color: var(--col-pri);
}

.col-txt-sec {
  color: var(--col-sec);
}

.col-txt-ok {
  color: var(--col-ok);
}

.col-txt-err {
  color: var(--col-err);
}

.col-txt-warn {
  color: var(--col-warn);
}

.col-txt-info {
  color: var(--col-info);
}

.col-txt-black {
  color: black;
}

.col-txt-white {
  color: white;
}
