.h-100vh {
  height: 100vh;
}
.h-100pr {
  height: 100%;
}
.h-100pr {
  height: 100%;
}

.w-100vw {
  width: 100vw;
}

.w-10pr {
  width: 10%;
}
.w-20pr {
  width: 20%;
}
.w-25pr {
  width: 25%;
}
.w-33pr {
  width: 33%;
}
.w-50pr {
  width: 50%;
}
.w-66pr {
  width: 66%;
}
.w-75pr {
  width: 75%;
}
.w-100pr {
  width: 100%;
}

.w-10px {
  width: 10px;
}
.w-20px {
  width: 20px;
}
.w-30px {
  width: 30px;
}
.w-40px {
  width: 40px;
}
.w-50px {
  width: 50px;
}
.w-60px {
  width: 60px;
}
.w-70px {
  width: 70px;
}
.w-80px {
  width: 80px;
}
.w-90px {
  width: 90px;
}
.w-100px {
  width: 100px;
}

.w-120px {
  width: 120px;
}
.w-140px {
  width: 140px;
}
.w-160px {
  width: 160px;
}
.w-180px {
  width: 180px;
}
.w-200px {
  width: 200px;
}
.w-300px {
  width: 300px;
}
.w-400px {
  width: 400px;
}
.w-500px {
  width: 500px;
}
.w-600px {
  width: 600px;
}


.h-10pr {
  height: 10%;
}
.h-20pr {
  height: 20%;
}
.h-25pr {
  height: 25%;
}
.h-33pr {
  height: 33%;
}
.h-50pr {
  height: 50%;
}
.h-66pr {
  height: 66%;
}
.h-75pr {
  height: 75%;
}
.h-100pr {
  height: 100%;
}

.h-10px {
  height: 10px;
}
.h-20px {
  height: 20px;
}
.h-30px {
  height: 30px;
}
.h-40px {
  height: 40px;
}
.h-50px {
  height: 50px;
}
.h-60px {
  height: 60px;
}
.h-70px {
  height: 70px;
}
.h-80px {
  height: 80px;
}
.h-90px {
  height: 90px;
}
.h-100px {
  height: 100px;
}

.h-120px {
  height: 120px;
}
.h-140px {
  height: 140px;
}
.h-160px {
  height: 160px;
}
.h-180px {
  height: 180px;
}
.h-200px {
  height: 200px;
}
.h-300px {
  height: 300px;
}
.h-400px {
  height: 400px;
}
.h-500px {
  height: 500px;
}
.h-600px {
  height: 600px;
}




