.pos-all-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.pos-y-0 {
  top: 0px;
  bottom: 0px;
}

.pos-x-0 {
  right: 0px;
  left: 0px;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-1 {
  bottom: 0.25rem;
}

.left-0 {
  left: 0px;
}

.left-1 {
  left: 0.25rem;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}
