.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-100 {
  transition-duration: 0.1s;
}

.duration-200 {
  transition-duration: 0.2s;
}

.duration-300 {
  transition-duration: 0.3s;
}

.duration-500 {
  transition-duration: 0.5s;
}

.duration-700 {
  transition-duration: 0.7s;
}

.duration-1000 {
  transition-duration: 1s;
}

.scale-x-full {
--tw-scale-x: 1
}
.scale-x-0 {
--tw-scale-x: 0
}

.scale-y-full {
--tw-scale-y: 1
}
.scale-y-0 {
--tw-scale-y: 0
}

.-translate-x-full {
  --tw-translate-x: -100%;
}
.-translate-x-0 {
  --tw-translate-x: 0px;
}
.translate-x-full {
  --tw-translate-x: 100%;
}

.rotate-0 {
  --tw-rotate: 0deg;
}

.rotate-90 {
  --tw-rotate: 90deg;
}

.rotate-180 {
  --tw-rotate: 180deg;
}

.-rotate-90 {
  --tw-rotate: -90deg;
}

.-rotate-90 {
  --tw-rotate: -180deg;
}
