/* purgecss start ignore */
@import "code.css";
@import "custom-blocks.css";

:fullscreen {
  background-color: var(--col-bg-0);
}

.shadow {
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.flexRow {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1 1 0%;
}
.flexWrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 16px;
}
.gap-8 {
  gap: 32px;
}
.gap-12 {
  gap: 3rem /* 48px */;
}

.p-10 {
  padding: 2.5rem /* 40px */;
}

.mt-4 {
  margin-top: 1rem /* 16px */;
}

.linkList {
  display: flex;
  flex-direction: column;
  color: var(--col-ok);
}

a:hover {
  text-decoration: underline;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
  margin-bottom: 2px;
}

.markdown-body h1 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown-body h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.markdown-body h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.markdown-body p,
.markdown-body ol,
.markdown-body ul {
  margin: 7px 0;
  line-height: 1.9em;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 1.25em;
}

.markdown-body li > ul,
.markdown-body li > ol {
  margin: 0;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
}

.markdown-body tr {
  border-top: 1px solid var(--col-bg-4);
}

.markdown-body tr:nth-child(2n) {
  background-color: var(--col-bg-2);
}

.markdown-body th,
.markdown-body td {
  border: 1px solid var(--col-bg-4);
  padding: 0.6em 1em;
}

/* purgecss end ignore */
